<script>
	import '../app.css';
	import { goto } from "$app/navigation";
	import { page } from '$app/stores';
	const lincks = new Map();
	lincks.set('/', 'Дом');
	lincks.set('/contacts', 'Контакты');
	lincks.set('/products', 'Продукты');
	lincks.set('/products/milk', 'Молоко');
	lincks.set('/todo', 'To Do');
	lincks.set('/test/svag', 'Тест');
	lincks.set('/supabase', 'Это база');
	lincks.set('/register', 'Регистрация');
	lincks.set('/login', 'Логин');
	lincks.set('/profile', 'Профиль');
	lincks.set('/about', 'О нас');
	lincks.set('/weather', 'Погода');
	/**
	 * @type {{ session: { user: any; }; }}
	 */
	 export let data;
	//  https://colorscheme.ru/
	let darkMode = true;
	function handleSwitchDarkMode() {
        darkMode = !darkMode;

        darkMode
            ? document.documentElement.classList.add('dark')
            : document.documentElement.classList.remove('dark');
    }
</script>

<!-- Навбар  -->
<div class="basa overflow-hidden bg-gray-100 dark:bg-base-200">
	<!-- навбар слева -->
	<div class="navbar  bg-neutral text-neutral-content">
		<div class="navbar-start">
			<div class="dropdown">
				<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
				<!-- svelte-ignore a11y-label-has-associated-control -->
				<label tabindex="0" class="btn btn-ghost btn-circle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h7"
						/></svg
					>
				</label>
				<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
				<ul
					tabindex="0"
					class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-neutral text-neutral-content rounded-box w-52"
				>
					<li><a href="/">Дом</a></li>
					<li><a href="/contacts">Контакты</a></li>
					<!-- <li><a href="/products">Продукты</a></li> -->
					<li><a href="/todo">Список дел</a></li>
					<!-- <li><a href="/test/svag">Тест</a></li> -->
					<li><a href="/supabase">Это база</a></li>
					<li><a href="/weather">Погода</a></li>
				</ul>
			</div>
			<!-- навбар центр -->
		</div>
		<div class="navbar-center m-auto">
			<a class="btn  normal-case text-xl md:visible invisible" href="/">{lincks.get($page.url.pathname)}</a>
		</div>
		<!-- навбар Справа -->
		<div class="navbar-end">
			{#if !data.session.user}
			<button class="btn btn-outline " style="margin-right: 1% ;"  on:click={()=> goto("/login")}>Sign in</button>
			<button class="btn btn-outline "  on:click={()=> goto("/register")}>Sign up</button>
			{/if}
			{#if data.session.user}
			<div class="dropdown dropdown-end">

				<label tabindex="0" class="btn btn-ghost btn-circle avatar">
					<div class="w-10 rounded-full">
						<img src="{data.photo}" alt="..."/>
					</div>
				</label>
				<ul
					tabindex="0"
					class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-neutral text-neutral-content rounded-box w-52"
				>
					<li><a href="/profile" class="justify-between" >
							 Профиль
						</a></li>

					<form method="POST" action="/bye">
						<li><button type="submit">Выйти</button></li>
					</form>
					<li>
						<button on:click={handleSwitchDarkMode}>Поменять тему</button>
					</li>
					
				</ul>
			</div>
			{/if}
		</div>
	</div>

	<div class="slot overflow-y-scroll overflow-x-hidden bg-gray-100 dark:bg-base-200">
		<slot />
	</div>

	<footer class="footer items-center p-4 bg-neutral text-neutral-content ">
		<div class="items-center grid-flow-col">
			<svg
				width="36"
				height="36"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
				fill-rule="evenodd"
				clip-rule="evenodd"
				class="fill-current"
				><path
					d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z"
				/></svg
			>
			<p>Copyright © 2023 - All right reserved</p>
		</div>
		<div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
			
			<a href="https://www.youtube.com/watch?v=DLzxrzFCyOs"
				><svg 
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="fill-current"
					><path
						d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
					/></svg
				>
			</a>
			<a href="https://www.youtube.com/watch?v=DLzxrzFCyOs"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="fill-current"
					><path
						d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
					/></svg
				></a
			>
			
			
			<a href="https://www.youtube.com/watch?v=DLzxrzFCyOs"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					class="fill-current"
					><path
						d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
					/></svg
				></a
			>
		</div>
	</footer>
</div>

<style lang="postcss">
	:global(html, body) {
		min-height: 100vh;
	}
	.basa {
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
		min-height: 100vh;
	}
	.slot {
		height: 100%;
	}
</style>
