<script>
	import Modal from '$lib/comps/modal.svelte';
	import { Carousel } from 'flowbite-svelte';
	import { images } from './imageData/+server.js';
	import Chart from 'chart.js/auto';
	import {ru} from 'date-fns/locale';
	let showThumbs = false;
	let showCaptions = false;
	let showtime = 3000;

	let grapth;

	let town = 'Челябинск';
	let vis;
	const getData = async () => 
	{
		const response = await fetch(
			`https://nominatim.openstreetmap.org/search?q=${town}&format=json&limit=1`
		);
		const { display_name, lat, lon } = (await response.json())[0];
		const req = await fetch(
			`https://api.open-meteo.com/v1/forecast?latitude=${lat}&longitude=${lon}&hourly=temperature_2m`
		);
		const data = await req.json();
		console.log(data)
		const data1 = {
            labels: data.hourly.time,
            datasets: [
                {
                    label: 'Температура',
                    data: data.hourly.temperature_2m,
                }
            ]
        };
		const config = {
            type: 'line',
            data: data1,
			response: true,
            options: {
				// scales:
				// {
				// 	x:
				// 	{
				// 		type:'date',
				// },
				// }
				
       		}	
        };		
		vis = "bg-white"
		const ctx = grapth.getContext('2d');
        var myChart = new Chart(ctx, config);	
	}
</script>

<svelte:head>
	<title>Домашняя страница</title>
</svelte:head>
<div class="flex-col justify-center w-full h-full mb-3">
	<div class="max-w-4xl m-auto mt-1">
		<Carousel {images} loop {showCaptions} {showThumbs} duration={showtime} />
	</div>
	<div class="">
		<Modal />
	</div>
	<button class="btn bg-emerald-900" on:click={()=>getData()}>XEX</button>
	<div class="max-w-4xl m-auto mt-1">
		<canvas class="{vis} " id="myChart"  bind:this={grapth}></canvas>
	</div>
</div>

	
  
