<!-- 
	https://app.supabase.com
	https://flowbite-svelte.com/components/modal
 -->

<script>
    import Modal from '$lib/comps/modal_base.svelte';
    import ModalCreate from '$lib/comps/modal_base_create.svelte';
	import ModalDelete from '$lib/comps/modal_base_delete.svelte';
    import { goto } from '$app/navigation';
    /** @type {{ countries: any; }} */
     export let data;

    let { countries } = data;
    $: ({ countries } = data);

    let show_Modal = false;
    let showCreate = false;
	/** @type {any} */
	let selected_Obj;
	/**
	 * @type {any}
	 */
	
    const showModal = (/** @type {any} */ obj) => {
        console.log({ ...obj });
		selected_Obj = { ...obj };
		show_Modal = true;
	};
	const hideModal = () => {
		show_Modal = false;
	};

	const saveClose = (/** @type {Number} */ id, /** @type {String} */ country) => {
		show_Modal = false;
		goto(`/bye?id=${id}&country=${country}`);
	};

  </script>


<Modal currobj={selected_Obj} show={show_Modal} hide={hideModal} saveAndClose={saveClose} />

<ModalCreate />


{#if countries}
		<div class="overflow-x-auto">
			<table class="table table-zebra w-full">
				<thead>
					<tr>
						<th>ID</th>
						<th>Страна</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{#each countries as country}
						<tr>
							<th>{country.id}</th>
							<td class="cursor-pointer" on:click={() => showModal(country)}> {country.name}</td>
							<td class="cursor-pointer text-end"> <ModalDelete currobj={country}/></td>
						</tr>
					{/each}
				</tbody>
			</table>
		</div>
{/if}
