<script>
	import { goto } from "$app/navigation";
	import { enhance } from '$app/forms';
	export let data;

	/** @type {number} */
	let summ = 0;
	
	let textt = '';
</script>

<form
	method="POST"
	action="?/create={summ}"
	use:enhance={({ form, data }) => {
		form.classList.add('cls');
		return async ({ result, update }) => {
			if (result.status == 200) {
				summ = result?.data?.summ;
				textt = result?.data?.txt;
				await update({ reset: true });
			}
		};
	}}
>
	<input class="input is-primary" style="background-color: aqua;" type="number" name="description" />
	<textarea name="textarea" />
</form>

<div class="block">
	<li><strong>Сумма через action {summ}</strong></li>
	<li><strong>Сумма через coockie {data.summa}</strong></li>
</div>
<div style="white-space: pre-wrap;" class="block">
	{@html textt}
</div>

<!-- <div class="px-3 py-3 bg-slate-200">
	<p>Quiz - Начало</p>
	<div class="py-3">
		<span class="underline">Props data:</span>
		{JSON.stringify(data)}
	</div>
	<div class="py-2"><span class="underline">Props form:</span>{JSON.stringify(form)}</div>
	<h1 class="py-2">
		<p class="underline">$page</p>
		{JSON.stringify($page)} 
	</h1>
	<p>Quiz - Конец</p>

	<form method="GET" on:submit={() => goto('/bye')}>
		<div>
			<button>SEND</button>
		</div>
	</form>
</div> -->

<style>
	:global(.cls) {
		background-color: rgb(37, 39, 143);
	}
</style>
