<script>
    import { Button, Modal,Alert} from 'flowbite-svelte'
    import { enhance } from '$app/forms';
    let popupModal = false;
    let visible = false;
    function Close()
    {
      visible = true;
		  setTimeout(() => {
        popupModal = false;
      }, 2000);
      
    }
    /** @type {{ id: any; name: any; }}	 */
    export let currobj;
  </script>
  
<button  class="text-black border border-amber-700 hover:bg-amber-700 hover:text-white 
 font-medium  rounded-full text-sm p-2 text-center inline-flex items-center" on:click={() => popupModal = true}>
   X 
  </button>

<form method="POST" action="?/delete_country" use:enhance>
  <input name="ids" style="display: none;" value= {currobj.id} required />
  <Modal bind:open={popupModal} size="xs" >
    <div class="text-center">
      {#if visible}
      <Alert border color="green">
        <span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        </span>
        <span class="font-medium">Успешно!</span>
        </Alert>
      {/if}
        <div style="margin-bottom: 1rem;">
          <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        Точно удалить запись?
        </div>
        
        
        <Button type="submit" color="red" class="mr-2" on:click = {()=> Close() }>ДА</Button>
        <Button color='alternative' on:click = {()=> popupModal = false }>Отмена</Button>
    </div>
  </Modal>
</form>
  
