<script>
	import { goto,beforeNavigate } from "$app/navigation";

	let num =5;
	
	beforeNavigate(({to, cancel}) =>{
		if(num<5)
		{
			alert("num<5 click")
			cancel()
		}
		else{}	
	});

	function bebra()
	{
		num +=1;
		if (num >= 10)
		{
			goto("/about");
		}
	}
</script>

<button class="btn bg-gradient-to-r from-indigo-600 to-pink-500 text-white px-2 " on:click={ bebra}>+ num</button>
<span class="bg-blue-100 text-blue-800 text-s font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{num}</span>>
