<script>
	import { Button, Modal, Input,Alert } from 'flowbite-svelte';
	import { enhance } from '$app/forms';
	import { modal_insert } from '$lib/store.js';
	let visible = false;
	let text = "";
	function visual() {
		if (text != "")
		{
			visible = true;
		setTimeout(() => {
			visible = false;
			$modal_insert = false;
		}, 2000);
		}		
	}
</script>

<button class="text-black hover:text-white border border-amber-700 hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800" style="size: 50%;"  on:click={() => ($modal_insert = true)}>Добавить</button>
<form method="POST" action="?/insert_country" use:enhance>
	<Modal title="Добавление Записи" bind:open={$modal_insert}>
		{#if visible}
			 <Alert border color="green">
			<span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
			</span>
			<span class="font-medium">Успешно!</span>
		  </Alert>
		{/if}
		

		<Input name="names" placeholder="Название Страны" value={text} required/>
		<Button type="submit" color="green" on:click = {()=> visual()}>Записать</Button>
		<Button color="alternative" on:click = {()=> $modal_insert = false}>Отмена</Button>
		
	</Modal>
</form>
