<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;
    import { Alert } from 'flowbite-svelte';
</script>

<div class="card w-96 bg-base-100 shadow-xl m-auto">
	<div class="card-body">
		<h2 class="card-title">Вход</h2>
		<div>
			{#if form?.is_user == false}
            <Alert border color="red">
                <span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="font-medium">Пользователь не найден</span>
              </Alert>
				
			{/if}
			{#if form?.bad_pwd}
            <Alert border color="red">
                <span slot="icon"><svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                </span>
                <span class="font-medium">Пароль не прошел проверку</span>
              </Alert>
			{/if}
		</div>

		<form action="?/login" method="POST">
			<div class="form-control w-full max-w-xs">
				<label class="label" for="login">
					<span class="label-text">Логин:</span>
				</label>
				<input
					id="login"
					name="login"
					type="text"
					required
					class="input input-bordered w-full max-w-xs"
				/>
			</div>

			<div class="form-control w-full max-w-xs">
				<label class="label" for="password">
					<span class="label-text">Пароль:</span>
				</label>
				<input id="password" name="password" type="password" required  class="input input-bordered w-full max-w-xs"/>
			</div>

			<div class="card-actions justify-end mt-5" style="display: flex;
            justify-content: space-between;
            flex-direction: row;">
				<a class="btn" href="/">Отмена</a>
				<button class="btn">Выполнить</button>
			</div>
		</form>
	</div>
</div>
